.app {
    height: 100vh;
    overflow-y: scroll;
    background: url('../../assets/crumpledPaper.jpg') center / cover no-repeat;
}

.content {
    display: grid;
    grid-template-columns: 560px 440px;
    max-width: 1040px;
    margin: 0 auto;
    padding-top: 50px;
    &__interactive {
        padding-left: 40px;
    }
}

@media screen and (max-width: 992px) {
    .content {
        grid-template-columns: 400px 340px;
        max-width: 740px;
    }
}

@media only screen and (min-width: 768px) {
    .content {
    }
}


@media screen and (max-width: 600px) {
    .content {
    }
}

@media only screen and (max-width: 600px) {
    .content {
    }
}
