.pages {
    margin: 25px 0;
    text-align: center;

    .page {
        margin: 0 10px;
        font-size: 16px;
        border: 1px solid #000;
        border-radius: 0.25em;
        padding: 6px 12px;
        cursor: pointer;
        &:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
    .active_page{
        border: 2px solid #000;
        font-weight: bold;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .invisible{
        display: none;
    }
}

.todo-enter {
    opacity: 0;
    &-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
}

.todo-exit {
    opacity: 1;
    &-active {
        opacity: 0;
        transition: opacity 0ms ease-in;
    }
}

